{% extends 'start/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'start/css/start.css' %}"/>
{% endblock %}

{% block title %}Start a New Game{% endblock %}

{% block start %}
{% if not overwrite %}
    <h3 class="text-center">Play Civilization Online</h3>
    <hr/>
    <p>Players</p>
    <hr/>
    <ul>
    {% for player in user.player.current_game.player_set.all %}
        <li>{{ player }}</li>
    {% endfor %}
    </ul>
    <hr/>
    <button onclick="window.location.href='/newgame/{{gameid}}/next/'">Start Game</button>
    <hr/>
    <p>Debug</p>
    <p>{{gameid}}</p>
{% else %}
    <h3 class="text-center">Play Civilization Online</h3>
    <p>Starting new game will overwrite your current game. Do you wish to continue?</p>
    <button onclick="window.location.href='/newgame/{{gameid}}/overwrite/next'">Continue</button>
    <hr/>
    <p>Debug</p>
    <p>{{gameid}}</p>
    <p>{{user.player.current_game.id}}</p>
{% endif %}
{% endblock %}