{% extends 'start/base.html' %}

{% block title %}Start a New Game{% endblock %}

{% block start %}
    <h3 class="text-center">Play Civilization Online</h3>
    <hr/>
    <p>DB</p>
    <p>Hello {{user}}</p>
    <p>{% if flag == 'gameinprogress' %}Game already in progress{% else %}{{user.player.game}}{% endif %}</p>
    <p>{{user.player.game.phase}}</p>
    <hr/>
    <p>TK</p>
    <p>Add more players</p>
    <hr/>
    <button onclick="window.location.href='/newgame/next/'">Start Game</button>
{% endblock %}